@page "/procesar-excel"

@inject NavigationManager Navigation
@using Microsoft.AspNetCore.SignalR.Client
@implements IAsyncDisposable

<InputFile OnChange="SeleccionarArchivo" />
<button @onclick="EnviarExcel" disabled="@(!archivoSeleccionado)">Enviar Excel</button>

<p>@mensaje</p>

<RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Secondary" Value="lineasProcesadas" Max="total" ShowValue="false" />

@if (lst.Count > 0)
{
    <RadzenDataGrid @ref="grid" TItem="MovimientoBimbo" Data="lst" AllowVirtualization="true" Density="Density.Compact" Style="height: 20rem;">
        <Columns>
            <RadzenDataGridColumn Property="@nameof(MovimientoBimbo.Canal)" Title="Canal" />
            <RadzenDataGridColumn Property="@nameof(MovimientoBimbo.CodigoSku)" Title="codigo" />
            <RadzenDataGridColumn Property="@nameof(MovimientoBimbo.NombreSku)" Title="nombre" />
            <RadzenDataGridColumn Property="@nameof(MovimientoBimbo.Cantidad)" Title="cantidad" />
            <RadzenDataGridColumn Property="@nameof(MovimientoBimbo.TipoEstoque)" Title="tipo de estoque" />
            <RadzenDataGridColumn Property="@nameof(MovimientoBimbo.MotivoAjuste)" Title="motivo de ajuste" />
        </Columns>
    </RadzenDataGrid>
}

@code {
    private HubConnection hubConnection;
    private byte[] excelData;
    private bool archivoSeleccionado = false;
    private string mensaje;
    private int lineasProcesadas = 0;
    private int total = 0;
    List<MovimientoBimbo> lst = new();
    RadzenDataGrid<MovimientoBimbo> grid;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/procesamientoHub"))
            .Build();

        hubConnection.On<int, int>("ProgresoActualizado", (lineasProcesadas, total) =>
        {
            this.lineasProcesadas = lineasProcesadas;
            this.total = total;
            StateHasChanged();
        });

        hubConnection.On<string>("ProcesamientoCompleto", (resultado) =>
        {
            mensaje = resultado;
            StateHasChanged();
        });

        hubConnection.On<List<MovimientoBimbo>>("MostarTabla", async (resultado) =>
        {
            Console.WriteLine(resultado == null);
            Console.WriteLine(resultado.Count);

            lst = resultado;


            StateHasChanged();
            await grid.Reload();
        });

        await hubConnection.StartAsync();
    }

    private async Task SeleccionarArchivo(InputFileChangeEventArgs e)
    {
        var file = e.File;
        if (file != null)
        {
            using var memoryStream = new MemoryStream();
            await file.OpenReadStream(long.MaxValue).CopyToAsync(memoryStream);
            excelData = memoryStream.ToArray();
            archivoSeleccionado = true;
        }
    }

    private async Task EnviarExcel()
    {
        if (excelData != null)
        {
            mensaje = "Procesando...";
            await hubConnection.SendAsync("ProcesarMovimientosBimbo", excelData);
        }
    }

    public async ValueTask DisposeAsync()
    {
        await hubConnection.DisposeAsync();
    }
}
